.container {
    width: 100%;
}

.headerContainer {
    width: 100%;
}

.headerContent {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    nav {
        padding: 2.5rem 0;
    }

    nav ul{
        display: flex;
        list-style: none;

        a {
            font-size: 1rem;
            color: var(--black);

           li {
                &:hover{
                 color: var(--violet)
                }
           }
        }

        a + a {
            margin-left: 1rem;
        }
    }
}

.hero {
    width: 100%;
    height: 500px;
    position: relative;
    
    .heroContent {
        max-width: 1200px;
        height: 100%;
        margin: 0 auto;

        display: flex;
        align-items: center;
    }
    
    .left {
        background: url(/assets/Dot.png);
        background-size: contain;
        background-repeat: no-repeat;

        height: 100%;
        width: 60%;

        display: flex;
        flex-direction: column;
        justify-content: center;

        

        h1 {
            color: var(--black);
            font-size: 2.5rem;
            margin-bottom: 2.5rem;
        }

        p {
            max-width: 480px;

            font-size: 1rem;
            line-height: calc(1rem * 1.5);
            margin-bottom: 2rem;
        }

        button {
            width: 13.5rem;
            height: 4rem;
            padding: 0 2.5rem;
            border-radius: calc(4rem/2);
            font-weight: bold;
            font-size: 1.25rem;
            color: var(--white);
            background-color: var(--violet);
        }
    }

    .right {
        width: 50%;
        height: 100%;
        position: absolute;
        right: 0;
        background: url(/assets/image.png);
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom-left-radius: 200px;
    }
}

.ourClients {
    width: 100%;
    margin-top: 130px;
    margin-bottom: 232px;

    .content {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        div {
            h3 {
                font-size: 2.5rem;
                margin-bottom: 1rem;
            }

            p {
                font-size: 1rem;
                max-width: 336px;
                line-height: calc(1rem * 1.5);
                color: var(--gray-500)
            }
        }

        div.right {
            display:  flex;
            align-items: center;

            a {
                cursor: pointer;

                & + a {
                    margin-left: 2.5rem;
                }
            }

            img {
                width: 150px;
            }

        }
    }

}


.service {
    width: 100%;
    height: 600px;
    position: relative;
    margin-bottom: 240px;
    
    .serviceContent {
        max-width: 1200px;
        height: 100%;
        margin: 0 auto;

        background: url(/assets/backgroundsevice.svg);
        background-size: 95%;
        background-position: right;
        background-repeat: no-repeat;

        display: flex;
        align-items: center;
    }
    
    .left {
        height: 100%;
        width: 40%;

        display: flex;
        flex-direction: column;
        justify-content: center;

        &::before {
            content: '';

            position: absolute;
            width: 11.125rem;
            height: 11.125rem;
            border-top-left-radius: 6.25rem;
            background-color: #FFF5DB;
            top: 8rem;
            z-index: -1;
            margin-left: -2rem;
            margin-bottom: -2rem;
        }

        h2 {
            color: var(--black);
            font-size: 2.5rem;
            margin-bottom: 2.5rem;
            max-width: 360px;
        }

        p {
            max-width: 400px;

            font-size: 1rem;
            line-height: calc(1rem * 1.5);
            margin-bottom: 2rem;
        }

      
    }

    .right {
        width: 50%;
        height: 100%;

        display: flex;

        div:first-child {
            margin-right: 1rem;
        }

        
    }
}


.project {
    width: 100%;
    height: 500px;
    position: relative;
    
    .projectContent {
        max-width: 1200px;
        height: 100%;
        margin: 0 auto;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    

    .left {
        width: 550px;
        height: 372px;
        border-radius: 2rem;
        background-color: #fedddf;
        position: relative;

        &::before {
            content: '';
            width: 8rem;
            height: 8rem;
            border-radius: 4rem;
            background-color: #FFF5DB;
            position: absolute;
            bottom: 0;
            right: 0;
            margin-right: -3rem;
            margin-bottom: -3rem;
            z-index: -1;
        }

        iframe {
            width: 100%;
            height: 100%;
            border-radius: 2rem;
        }
    }


    .right {
        height: 100%;
        width: 50%;
        padding-left: 3rem;

        display: flex;
        flex-direction: column;
        justify-content: center;

        &::before {
            content: '';

            position: absolute;
            width: 11.125rem;
            height: 11.125rem;
            border-bottom-right-radius: 6.25rem;
            background-color: #EFF1FF;
            top: 6rem;
            margin-left: -2rem;
            z-index: -1;
        }

        h1 {
            color: var(--black);
            font-size: 2.5rem;
            margin-bottom: 2.5rem;
        }

        p {

            font-size: 1rem;
            line-height: calc(1rem * 1.5);
            margin-bottom: 2rem;
        }

    }
}

.newsletterContainer {
    width: 100%;
    position: relative;
    margin-top: 148px;
    margin-bottom: 146px;

    
    .newsletterContent {
        max-width: 1200px;
        height: 18.25rem;
        margin: 0 auto;
        background-color: #F4F9FF;
        border-radius: 4rem;

        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        padding: 90px;

        &::after {
            content: '';

            position: absolute;
            width: 11.125rem;
            height: 11.125rem;
            border-bottom-left-radius: 6.25rem;
            background-color: #FFF5DB;
            bottom: 0;
            left: 0;
            z-index: -1;
            margin-left: -2rem;
            margin-bottom: -2rem;
        }

        &::before {
            content: '';
            width: 500px;
            height: 100%;
            position: absolute;
            background-color: #2639ED;
            right: 0;
            border-radius: 4rem 4rem 4rem 8rem;
        }


        .left {
        h3 {
            font-size: 2.5rem;
            color: #000;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1rem;
            color: var(--gray-600)
        }
    }


    .formContainer {
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;

        

        form {
            width: 479px;
            height: 80px;
            border-radius: calc(80px/2);
            background-color: #Fff;
            overflow: hidden;
            padding: 0 1rem;
            box-shadow: 1px 1px 8px var(--gray-150);

            display: flex;
            align-items: center;

            input {
                height: 100%;
                flex: 1;
                padding: 1rem 2rem;
                font-size: 1rem;
                color: var(--gray-600);
                z-index: 2;
            }

            button {
                width: 188px;
                height: 60px;
                background-color: #2639ED;
                border-radius: 30px;
                color: #Fff;
                font-size: 1rem;
                font-weight: bold;
            }
        }
    }
    }


    
}

.footerContainer {
    width: 100%;
    
    .footerContent {
        max-width: 1200px;
        margin: 0 auto;

        .top {
            border-top: 1px solid #E4E4E4;
            border-bottom: 1px solid #E4E4E4;

            padding: 4rem 0 2rem;

            display: flex;
            justify-content: space-between;

            .left {
                p {
                    margin-top: 1.5rem;
                    margin-right: 190px;
                    font-size: 0.875rem;
                    max-width: 290px;
                    margin-bottom: 2.5rem;
                    color: var(--gray-500);
                    line-height: calc(.875rem * 1.5);
                }
    
                .socialMedias {
                    display: flex;
    
                    a {
                        width: 36px;
                        height: 36px;
                        background-color: #3B5998;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
    
                    a + a {
                        margin-left: 1rem;
                    }
                }
            }
    
            .right {
                display: flex;
                flex: 1;
    
                justify-content: space-between;
    
                div {
                    h4 {
                        font-size: 1.25rem;
                        color: #000;
                        margin-bottom: 1.5rem;
                    }
    
                    p {
                        font-size: 0.875rem;
                        color: #000;
                        margin-bottom: 1rem;
                    }
                }
    
            }

        }

        .bottom {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1.5rem 0;

            p {
                font-size: 0.875rem;
                color: #A4A4A4;
            }
        }

        
    }
}